<p style="font-size:25px;"><b>Your search result</b></p>


  <style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2px;
      background-color: oldlace;
      padding: 2px;
    }

      .grid-container > div {
        background-color: rgba(216, 243, 12, 0.36);
        border: 1px solid black;
        text-align: center;
        font-size: 20px;
      }
      img{
        width: 80%;
        height: auto;
      }
  </style>




<div class="grid-container">
  <ul style="list-style-type:none;">
    <li>
      {{set.name}}
    </li>
    <li> Release Date:
      {{set.year}}
    </li>
    <li>Number of pieces:
      {{set.num_parts}}
    </li>
    <li>
      <img src="{{set.set_img_url}}" />
    </li>
    <li>
      <!--{{set.set_url}}-->
    </li>
    <li>
      <button (click)="addFavorite(set)">add My Collection</button>
    </li>
    <li>
      <button (click)="addWishlist(set)">add Wishlist</button>
    </li>
  </ul>

  <div class="grid-container">
    <ul style="list-style-type:none;" *ngFor="let part of parts.results">
      <li>
        <a href="{{part.part.part_url}}">{{part.part.name}}</a>
      </li>
      <li>
        <img src="{{part.part.part_img_url}}" />
      </li>
    </ul>
  </div>
</div>
