<head>
  <style>
    div {
      background-image: url('assets/yellowLego.jpg');
    }
  </style>
</head>

<div style="font-size: 50px; padding: 40px; border: 5px solid red; margin: 10px;">
  <h1 style="text-align:center"> LegoMania -The World of Replacement Parts</h1>

</div>


<h1 style="color: red; text-align:center">Greetings Lego Collectors and Enthusiast! </h1>
<h3> Here on LegoMania you can store your collection and find the parts that the dog eat. </h3>

<p style="text-align:center;"><img src="assets/legoeater.jpg" alt="dog shaming" class="center" style="width: 30%; height:30%;"></p>

<div style="font-size: 40px; padding: 30px; border: 5px solid red; margin: 10px;">
  <p style="text-align:center;"><input type="text" center="center" placeholder="Search.." /></p>
</div>


<input type="text" ng-model="searchBox" >
