<h2>Add Lego Set to Collection</h2>

<form>
  <label>Lego Set Name: </label>
  <input type="text" class="form-control" id="name" name="name" #name />

  <label>Set Number:</label>
  <input type="text" class="form-control" id="SetNumber" name="SetNumber" #SetNumber />

  <label>Quantity:</label>
  <input type="text" class="form-control" id="Quantity" name="Quantity" #Quantity />

  <label>Set Id:</label>
  <input type="text" class="form-control" id="SetId" name="SetId" #SetId />




  <button class="btn-primary btn-primary" (click)="addItemToCollection(name.value, SetNumber.value, Quantity.value, SetId.value)">Add Item</button>
</form>
