<h2>Add item to your Wish List</h2>


<form>
  <label>Lego Set Name: </label>
  <input type="text" class="form-control" id="name" name="name" #name />

  <label>Set Number:</label>
  <input type="text" class="form-control" id="set_num" name="set_num" #set_num />

  <label>Number of Pieces:</label>
  <input type="text" class="form-control" id="NumberOfPieces" name="NumberOfPieces" #NumberOfPieces />

  <label>Quantity:</label>
  <input type="text" class="form-control" id="Quantity" name="Quantity" #Quantity />

  <label>Set Id:</label>
  <input type="text" class="form-control" id="SetId" name="SetId" #SetId />


  <button class="btn-primary btn-primary" (click)="addItemToWishList(name.value, set_num.value, NumberOfPieces.value, Quantity.value, SetId.value)">Add Item</button>
</form>
